test/Duffing_cubic_conservative_forced_CNF/Superharmonic resonance/FRC - Duffing cubic conservative - Superharmonic.svg
test/Duffing_cubic_conservative_forced_CNF/Superharmonic resonance/FRC - Duffing cubic damped - Superharmonic.svg
test/Duffing_cubic_conservative_forced_CNF/Superharmonic resonance/FRC.fig
test/Duffing_cubic_conservative_forced_CNF/Superharmonic resonance/FRC.svg
Archive.zip
matcont/
~$mbolicAnalysis_renew23.odt
Tests avec Mathematica/
MATLAB/
Latex_test.jl
test/Duffing_cubic_damped_forced_CNF
test/Duffing_cubic_damped_unforced_CNF_test
Test_Mathematica_printing.nb
output/param_Duffing_cubic_damped_CNF_primary_o_5.mat
