test/Duffing_cubic_conservative_forced_CNF/Superharmonic resonance/FRC - Duffing cubic conservative - Superharmonic.svg
test/Duffing_cubic_conservative_forced_CNF/Superharmonic resonance/FRC - Duffing cubic damped - Superharmonic.svg
test/Duffing_cubic_conservative_forced_CNF/Superharmonic resonance/FRC.fig
test/Duffing_cubic_conservative_forced_CNF/Superharmonic resonance/FRC.svg
Archive.zip
matcont/